/*Navbar*/
.navbar {
    background-image: url("pp.png");
    ;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(14, 111, 177);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("pp.png");
}


.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(14, 111, 177);
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
    border: rgb(37, 193, 255);
}

.navbar a:hover {
    background-color: rgb(49, 49, 49);
    color: rgb(37, 193, 255);
}

.navbar .logo {
    padding: 8px;
}


  /* ================================= */
 /* =======SLIDE DE IMAGENS========== */
/* ================================= */


.slider-container {
    width: 1000px;
    max-width: 10000px;
    margin: auto;
    overflow: hidden;
}
/*IMAGENS*/
.slide img {
    width: 1000px;
    height: 600px;
}


.slider-nav {
    text-align: center;
    
}


.slider-nav button {
    color: rgb(54, 106, 138);
    box-shadow: 0 0 10px rgb(14, 111, 177);
    background-image: url("pp.png");
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
}



  /* ================================= */
 /* =======BOX DE TEXTO============== */
/* ================================= */


 /* Estilos para o contêiner */
 .container {

    background-image: url("pp.png");      
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(14, 111, 177);
    overflow: hidden;
    width: 90%;
    /* Ajustado para 90% da largura da janela */
    margin: 150px auto 50px;
    /* Centralizado verticalmente, alinhado ao centro horizontalmente */
    text-align: center;
    position: relative;
  }

  /* Estilos para divisórias de histórias */
  .story-divider {
    width: 82%;
    height: 2px;
    margin: 18px auto;
   
  }

  /* Estilos para o título da história */
  .story-title {
    font-size: 24px;
    font-weight: bold;
    margin: 11px 0;
    cursor: pointer;
  }

  /* Estilos para o conteúdo da história */
  .story-content {
    font-size: 18px;
    margin: 15px 0;
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  /* Estilos para imagens */
  .story-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }


  
  /* ================================= */
 /* ============FOOTER=============== */
/* ================================= */

footer{
filter: blur(2px);
background-image: url(pp.png);
}



  
  /* ================================= */
 /* ============BOXES================ */
/* ================================= */

.box1{

color: rgb(21, 81, 121);

}

.box2{

    color: rgb(21, 81, 121);
    
    }